*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    background-color: white;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    font-size: 17px;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 80px;
    line-height: 108px;
}

h2{
    font-size: 45px;
}

.container-jumbo{
    max-width: 1400px;
    margin: 0 auto;
}

/* ----- HEADER ----- */
nav ul li{
    vertical-align: middle;
    display: inline;
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

nav ul img{
    vertical-align: middle;
}

nav ul li:hover{
    background-color: gainsboro;
}

.menu-top{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.menu-right .button-head{
    background-color: #0061FF;
    color: white;
    padding: 10px 22px;
    margin-left: 15px;
    font-weight: bold;
}

.button-head:hover{
    background-color: blue;
}

/* ----- JUMBOTRON ----- */
.jumbotron{
    background-color: #B4D0E7;
    height: 770px;
    padding-top: 120px;
    padding-left: 100px;
}

.text-jumbo{
    padding-top: 34px;
    padding-bottom: 45px;
    width: 370px;


}

.container-jumbo img{
    position: absolute;
    top: 370px;
    left: 755px;
    width: 45%;
    display: inline-block;
}


.jumbo-link a{
    background-color: #0061FF;
    color: white;
    padding: 10px 18px;
    font-weight: bold;
    text-decoration: none;
}

.jumbo-link a:hover{
    background-color: blue;
}

.sottolink-jumbo{
padding-top: 20px;
}

.icon-jumbo{
    font-size: 40px;
    padding-top: 25px;
}

.fa-solid.fa-arrow-down:hover{
    color: white;
    cursor: pointer;
}

/* ----- MAIN ----- */
.container-main{
    margin: 0 auto;
    max-width: 1200px;
    height: 190px;
    margin-top: 250px;
}

.container-col{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    height: 1700px;
}

.button-main{
    line-height: 160px;
}

.button-main .fa-solid.fa-circle-dot{
    color: #0061FF;
    padding-right: 4px;
    cursor: pointer;
}
.button-main .fa-regular.fa-circle-dot{
    color: black;
    padding-right: 4px;
    cursor: pointer;
}

.fa-regular.fa-circle-dot:hover{
    color: #0061FF;
}

.button-main .billing{
    padding-right: 25px;
}

/* ----- COLONNE ----- */
.container-col .col-left{
    margin-right: 90px;
    height: 1200px;
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container-col .col-central{
    margin-right: 90px;
    height: 1200px;
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container-col .col-right{
    height: 1200px;
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.col-down{
    height: 250px ;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 130px;
}
/* ----- CONTENUTO COLONNE CENTRALI----- */
.interno-colonna{
    margin: 30px 30px 30px 30px;
}

.h3-col{
    font-size: 30px;
    padding-bottom: 15px;
}


.col-name{
    display: flex;
    align-items: center;
    justify-content: center;
    height:55px;
    width: 340px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.col-name:hover{
    background-color: #0061FF;
    color: white;
    border: 5px solid blue;
}

.fa-regular.fa-user{
    padding-right: 5px;
}

.fa-regular.fa-building{
    padding-right: 5px;
}

.prezzo{
    font-weight: bold;
}

.month-col{
    padding-top: 10px;
    padding-bottom: 45px;
    color: rgba(0,0,0,0.5);
}

.user-col{
    padding-bottom: 30px;
}
.user-col i{
    font-size: 14px
}

.TB-col{
    padding-bottom: 30px;
}
.fa-regular.fa-folder{
    padding-right: 5px;
}
.fa-regular.fa-face-smile{
    padding-right: 5px;
}

.function-col{
    padding-bottom: 60px;
}
.fa-solid.fa-pencil{
    padding-right: 5px;
}

.button-col{
    text-align: center;
    color: white;
    background-color: #0061FF;
    padding: 12px;
    cursor: pointer;
}
.button-col:hover{
    background-color: blue;
}

.link-col{
    padding-top: 30px;
    padding-bottom: 30px;
}
.link-col a{
    color: #0061FF;
    font-weight: bold;
}
.link-col a:hover{
    color: black;
}

hr{
    width: 55px;
    color: rgba(0,0,0,0.2);
}

ul li{
    padding-bottom: 30px ;
    list-style: none;
}

.container-col ul li:first-child{
    padding-top: 30px;
    font-weight: bold;
    font-size: 17px;
}

.fa-sharp.fa-solid.fa-check{
    color: #0061FF;
    padding-right: 3px;
}
/* ----- COLONNA INFERIORE ----- */
.name-col-down{
    display: flex;
    align-items: center;
    justify-content: center;
    height:55px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.name-col-down:hover{
    background-color: #0061FF;
    color: white;
    border: 5px solid blue;
}

.interno-flex-coldown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px 0;
}

.interno-flex-coldown a{
    background-color: #0061FF;
    padding: 10px 75px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.interno-flex-coldown a:hover{
    background-color: blue;
}

.contatta{
    margin: 5px 30px 0;
    font-weight: bold;
}

.support-coldown{
    margin: 30px 30px 0;
}

/* ----- DESCRIPTION MAIN CENTER ----- */
.container-center{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    height: 500px;
    margin-bottom: 120px;
}

.text-center{
    margin-top: 50px;
    margin-left: 60px;
}

.text-center h3{
    font-size: 30px
}

.text-center p{
    line-height: 30px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-center span{
    padding: 10px 25px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.text-center span:hover{
    background-color: #0061FF;
    color: white;
    
}
/* ----- MAIN CENTER CARD ---- */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 140px;
}

.description-dropbox{
    width: calc(90% / 3);
    padding-bottom: 130px;
}

.description-dropbox h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.description-dropbox p{
    line-height: 24px;
    font-weight: 500;
}

.description-dropbox a{
    color: black;
}

.description-dropbox img{
    width: 100%;
    cursor: pointer;
}
/* ----- BLOCCO SCROLL CON IMG ----- */
.title-bigbox h2{
    width: 50%;
    margin-bottom: 30px;
}

.title-bigbox a{
    color: #0061FF;
    font-weight: bold;
}

.title-bigbox a:hover{
    color: black;
}

.container-big-box{
    height: 580px;
    width: 100vw;
    margin-top: 45px;
    display: flex;
}
/* ----- BOX LATERALI ----- */
.big-box-lateral{
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
  
.big-box-lateral img{
    width: 50%;
    height: 50%;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(0%) 
    hue-rotate(69deg) brightness(103%) contrast(102%);
}
  
.cont-img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #A2D39B;
}

.cont-img1:active{
    border: 15px solid #D0E9CD;
}
  
.cont-img2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #61082B;
    fill: white;
}

.cont-img2:active{
    border: 15px solid #6d3e51;
}

.cont-img3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #0093CE;
}

.cont-img3:active{
    border: 15px solid #73a5f5;
}

.cont-img4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #FF1C1C;
}

.cont-img4:active{
    border: 15px solid #f06e6e;
}
/* ----- BOX CENTRALE ----- */
.central-big-box{
    width: 40%;
    height: 100%;
    background-color: #F5F5F5;
    padding: 70px;
    overflow: auto;
}

.info-central-box{
    height: 100px;
}

.info-central-box img{
    width: 20%;
    padding-bottom: 30px;
}

.info-central-box hr{
    background-color: #dfdfdf;
}

.info-central-box p{
    padding-top: 40px;
    padding-bottom: 80px;
    line-height: 25px;
    font-weight: 500;
}

.info-central-box span{
    padding-bottom: 50px;
    font-weight: 500;
}
/* ----- BIG BOX LATERALE DESTRO ----- */
.cont-img5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #D5001F;
}
.cont-img5:active{
    border: 15px solid #c74a5d;
}

.cont-img6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #B4D0E7;
}
.cont-img6:active{
    border: 15px solid #c4d5e2;
}

.cont-img7{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #0D2481;
}
.cont-img7:active{
    border: 15px solid #364583;
}

.cont-img8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #FFD830;
}
.cont-img8:active{
    border: 15px solid #fce893;
}

/* ----- CONTAINER SOTTO BIG-BOX ----- */
.container-down{
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #B4D0E7;
    margin-bottom: 200px;
}

.interno-down{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropbox-business{
    width: 50%;
    color: #61082B;
}

.button-drop-business{
    background-color:white;
    padding: 10px 65px;
    font-weight: 500;
    cursor: pointer;
}
.button-drop-business:hover{
    background-color: #0061FF;
    color: white;
}
/* ----- CONTAINER FAQ ----- */
.container-faq{
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    margin-bottom: 300px;
}

.faq h2{
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.request{
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fa-solid.fa-chevron-down{
    margin-left: 95%;
}
/* ----- CONTAINER FOOTER ----- */
footer{
    background-color: black;
}

.box-footer{ 
    display: flex;
}

.box-footer ul{
    margin-left: 160px;
}

.box-footer ul li{
    color: white;
    line-height:2px;
}
.box-footer ul li:first-child{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px
}

.menu-footer{
    margin-top: 100px;
}

.menu-footer a{
    text-decoration: none;
    color: white;
}
.menu-footer a:hover{
    text-decoration: underline;
}

.linea-footer{
    margin-left: 160px;
    margin-top: 70px;
    padding: 2rem 0;
}
.linea-footer hr{
    width: 130px;
}

.language-footer{
    padding-bottom: 40px;
    margin-top: 40px;
    margin-left: 160px;
    color: gray;
}
.fa-solid.fa-caret-up{
    font-size: 11px;
    padding-left: 2px;
}