*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    background-color: white;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    font-size: 17px;
}

h1{
    font-size: 80px;
    line-height: 108px;
}

h2{
    font-size: 45px;
}

.container-jumbo{
    max-width: 1400px;
    margin: 0 auto;
}

/* ----- HEADER ----- */
nav ul li{
    vertical-align: middle;
    display: inline;
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

nav ul img{
    vertical-align: middle;
}

nav ul li:hover{
    background-color: gainsboro;
}

.menu-top{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.menu-right .button-head{
    background-color: #0061FF;
    color: white;
    padding: 10px 22px;
    margin-left: 15px;
    font-weight: bold;
}

.button-head:hover{
    background-color: blue;
}

/* ----- JUMBOTRON ----- */
.jumbotron{
    background-color: #B4D0E7;
    height: 770px;
    padding-top: 120px;
    padding-left: 100px;
}

.text-jumbo{
    padding-top: 34px;
    padding-bottom: 45px;
    width: 370px;


}

.container-jumbo img{
    position: absolute;
    top: 370px;
    left: 755px;
    width: 45%;
    display: inline-block;
}


.jumbo-link a{
    background-color: #0061FF;
    color: white;
    padding: 10px 18px;
    font-weight: bold;
    text-decoration: none;
}

.jumbo-link a:hover{
    background-color: blue;
}

.sottolink-jumbo{
padding-top: 20px;
}

.icon-jumbo{
    font-size: 40px;
    padding-top: 25px;
}

.fa-solid.fa-arrow-down:hover{
    color: white;
    cursor: pointer;
}

/* ----- MAIN ----- */
.container-main{
    margin: 0 auto;
    max-width: 1200px;
    height: 190px;
    margin-top: 250px;
}

.container-col{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    height: 1600px;
}

.button-main{
    line-height: 160px;
}

.button-main .fa-solid.fa-circle-dot{
    color: #0061FF;
    padding-right: 4px;
    cursor: pointer;
}
.button-main .fa-regular.fa-circle-dot{
    color: black;
    padding-right: 4px;
    cursor: pointer;
}

.fa-regular.fa-circle-dot:hover{
    color: #0061FF;
}

.button-main .billing{
    padding-right: 25px;
}

/* ----- COLONNE ----- */
.container-col .col-left{
    margin-right: 90px;
    height: 1200px;
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container-col .col-central{
    margin-right: 90px;
    height: 1200px;
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.container-col .col-right{
    height: 1200px;
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.col-down{
    height: 250px ;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);;
}
/* ----- CONTENUTO COLONNE CENTRALI----- */
.interno-colonna{
    margin: 30px 30px 30px 30px;
}

.h3-col{
    font-size: 30px;
    padding-bottom: 15px;
}


.col-name{
    display: flex;
    align-items: center;
    justify-content: center;
    height:55px;
    width: 340px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.col-name:hover{
    background-color: #0061FF;
    color: white;
    border: 5px solid blue;
}

.fa-regular.fa-user{
    padding-right: 5px;
}

.fa-regular.fa-building{
    padding-right: 5px;
}

.prezzo{
    font-weight: bold;
}

.month-col{
    padding-top: 10px;
    padding-bottom: 45px;
    color: rgba(0,0,0,0.5);
}

.user-col{
    padding-bottom: 30px;
}
.user-col i{
    font-size: 14px
}

.TB-col{
    padding-bottom: 30px;
}
.fa-regular.fa-folder{
    padding-right: 5px;
}
.fa-regular.fa-face-smile{
    padding-right: 5px;
}

.function-col{
    padding-bottom: 60px;
}
.fa-solid.fa-pencil{
    padding-right: 5px;
}

.button-col{
    text-align: center;
    color: white;
    background-color: #0061FF;
    padding: 12px;
    cursor: pointer;
}
.button-col:hover{
    background-color: blue;
}

.link-col{
    padding-top: 30px;
    padding-bottom: 30px;
}
.link-col a{
    color: #0061FF;
    font-weight: bold;
}
.link-col a:hover{
    color: black;
}

hr{
    width: 55px;
    color: rgba(0,0,0,0.2);
}

ul li{
    padding-bottom: 30px ;
    list-style: none;
}

ul li:first-child{
    padding-top: 30px;
    font-weight: bold;
    font-size: 17px;
}

.fa-sharp.fa-solid.fa-check{
    color: #0061FF;
    padding-right: 3px;
}
/* ----- COLONNA INFERIORE ----- */
.name-col-down{
    display: flex;
    align-items: center;
    justify-content: center;
    height:55px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.name-col-down:hover{
    background-color: #0061FF;
    color: white;
    border: 5px solid blue;
}

.interno-flex-coldown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px 0;
}

.interno-flex-coldown a{
    background-color: #0061FF;
    padding: 10px 75px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.interno-flex-coldown a:hover{
    background-color: blue;
}

.contatta{
    margin: 5px 30px 0;
    font-weight: bold;
}

.support-coldown{
    margin: 30px 30px 0;
}
